@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');
@import url(stars.css);
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow-x: hidden;
    background: linear-gradient(135deg, rgba(47,49,49,1) 0%, rgba(22,24,22,1) 20%, rgba(22,24,22,1) 80%, rgba(47,49,49,1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.mobile-menu.hidden {
    display: none;
}

.mobile-menu.show {
    background: rgba(22,24,22,1);
    height: 50px;
}

.mobile-menu.show .col-md-12{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.mobile-menu.show .col-md-12 a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: #3f477c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block; 
}

.mobile-menu.show .col-md-12 a::before {
    transition: height 0.5s ease-in;
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    height: 100%;
    background: -webkit-linear-gradient(#3f477c, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
}

.mobile-menu.show .col-md-12 a:hover::before {
    height: 0;
}

.navbar .row .hide {
    display: none;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: #fff;
}

.navbar {
    width: 100vw;
    height: 100px;
    padding: 0;
    margin: 0;
    position: static;
    background-color:transparent;
}

.navbar .row {
    height: 100px;
    width: 100%;
}

.navbar .container-fluid {
    padding: 0;
}

.navbar a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: #3f477c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block; 
}

.navbar a::before {
    transition: height 0.15s ease-in;
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    height: 100%;
    background: -webkit-linear-gradient(#3f477c, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
}

.navbar a:hover::before {
    height: 0;
}

.navbar h1 {
    font-family: 'Roboto serif', serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
    background: #3f477c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .col-md-2, .navbar .col-md-4, .navbar .col-md-1 {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: #fff;
}

.hero {
    position: relative;
    top: 75px;
    color: #fff;
    font-family: 'Roboto serif', serif;
}

.hero .container {
    padding: 50px;
    border: 1px solid black;
    background: linear-gradient(112deg, rgba(22,24,22,1) 48%, rgba(47,49,49,1) 48%);
    height: 400px;
}

.hero .container .row {
    position: relative;
    height: 100%;
}

.hero .container .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.hero .container .col-md-6:nth-child(2) {
    align-items: center;
}

.hero .container h1 {
    background: -webkit-linear-gradient(#3f477c, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .container h1 span {
    background: #3f477c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero img {
    width: 75%;
    height: auto;
    border-radius: 7px;
}

.hero .container p {
    width: 50%;
}

.hero .btn {
    width: 25%;
    height: auto;
    background: #1D2039;
    border: 1px solid black;
    border-radius: 7px;
    transition: all 0.2s ease;
    position: relative;
    display: inline-block; 
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
}

.hero .btn::before {
    transition: all 0.15s ease-in;
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(#2e355f, #1D2039);
    left: 0;
    top: 0;
    padding: 6px 0;
}

.hero .container .btn:hover::before {
    height: 0;
    border: 0;
    padding: 0;
}

.reviews {
    position: relative;
    top: 35px;
    padding: 50px 0;
}

.reviews h1 {
    text-align: center;
    padding: 15px 0;
    background: #3f477c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto serif', serif;
    text-transform: uppercase;
    font-size: 36px;
}

.card, .card-body {
    width: 100%;
    background-color: rgba(47,49,49,1);
    color: #fff;
    height: 232px;
    position: relative;
}

.reviews .card h5{
    text-align: center;
    padding: 15px 0;
    position: relative;
}

.reviews .card a {
    font-size: 32px;
    position: relative;
    color: black;
    opacity: 0.5;
    transition: 0.2s ease;
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 2;
}

.reviews .card a:hover {
    opacity: 1;
}

.card:hover #topl, .card:hover #botr {
    width: 100%;
    height: 100%;
}

#topl {
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 5px 0 0 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-image: linear-gradient(to left, #3f477c 100%, #fff) 1;
    width: 55px;
    height: 55px;
    z-index: 1;
    transition: all 0.2s ease;
}
#botr {
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-radius: 5px 0 0 0;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-image: linear-gradient(to left, #fff, #3f477c 100%) 1;
    width: 55px;
    height: 55px;
    z-index: 1;
    transition: all 0.2s ease;
}

.projects-hidden {
    display: none;
}

.projects-shown {
    display: block;
}

.projects {
    margin: 150px 0;
    text-align: center;
}

.projects .container-fluid {
    height: 100%;
    margin: 0 auto;
    padding: 0 125px;
}

.projects .container-fluid .projects-grid {
    display: inline-block;
}


.projects h1 {
    background: #3f477c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.projects .col-md-8 {
    height: 375px;
}

.projects .col-md-8.bg {
    z-index: 2;
}

.modal-backdrop.show {
    z-index: -1;
}

.projects .project {
    margin: 50px 0;
}


.projects .col-md-8 .imgBtn {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border: 0;
    transition: 0.2s ease;
}

.projects .col-md-8 .imgBtn:hover {
    border-radius: 25px;
}

.projects .col-md-8 .btn1 {
    background-image: url(images/portfolio.png);
}

.projects .col-md-8 .btn2 {
    background-image: url(images/lagom.png);
}

.projects .col-md-8 .btn3 {
    background-image: url(images/firwl.png);
}

.projects .project .col-md-4  {
    display: flex;
    align-items: center;
    height: fit-content;
}

.projects .card {
    height: 375px;
}


.projects .card-body {
    position: relative;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

.projects .card .row1 {
    display: flex;
    padding-top: 5px;
}
.projects .card .row1 li{
    display: flex;
    padding: 0 5px;
}

.projects .card .row1 i {
    font-size: 28px;
    color: #3f477c;
}

.projects .card .row2 {
    display: flex;
    justify-content: left;
    font-size: 24px;
    position: relative;
    bottom: 15px;
    left: 0;
    width: 100%;
    padding-top: 15px;
}

.projects .card .row2 a {
    padding: 0 5px;
}


.projects .card a {
    color: black;
    opacity: 0.5;
    transition: 0.2s ease;
    z-index: 2;
}

.projects .card a:hover {
    opacity: 1;
}


@media screen and (max-width: 1200px) {
    .navbar h1{
        font-size: 32px;
        margin: 0;
    }

    .navbar .row .col-md-2, .navbar .row .col-md-1, .navbar .row .col-md-4 {
        padding: 0;
    }

    .navbar .col-md-1:nth-child(1), .navbar .col-md-1:last-child {
        display: none;
    }

    .navbar .col-md-4:nth-child(2) {
        display: none;
    }

    .navbar .row {
        justify-content: space-evenly;
    }

    .navbar a {
        font-size: 18px;
    }

    .hero .container h1 {
        font-size: 32px;
    }

    .hero .container p {
        width: 70%;
    }

    .hero .btn {
        width: 30%;
    }

    .hero .container img {
        height: 75%;
    }
}

@media screen and (max-width: 996px) {
    .navbar .col-md-1, .navbar .col-md-2 {
        display: none;
    }

    .navbar .row .hide {
        display: flex;
    }

    .navbar .row .hide a {
        font-size: 24px;
    }

    .navbar .row {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    body {
        background: none;
    }

    .navbar {
        background-color: rgba(22,24,22,1);
    }

    .hero .row .col-md-6 h1{
        padding: 30px 0;
    }

    .hero .container img {
        height: auto;
    }

    .hero .container .btn {
        width: 40%;
    }

    .reviews .row {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .reviews .row .col-md-3 {
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .navbar .row {
        display: grid;
    }

    .navbar .row .hide {
        display: flex;
    }

    .navbar .row .hide a {
        font-size: 20px;
    }

    .mobile-menu.show .container{
        padding: 13px 0;
    }

    .mobile-menu.show .col-md-12 a {
        font-size: 16px;
    }

    .hero {
        top: 20px;
        width: 100%;
        height: 60%;
    }

    .hero .container {
        width: 80%;
        height: 100%;
        padding: 0;
    }

    .hero .row {
        display: grid;
        height: auto;
    }

    .hero .container .col-md-6 {
       text-align: center;
       display: flex;
       align-items: center;
    }

    .hero .container h1 {
        font-size: 26px;
        padding: 0 10px;
    }

    .hero .container p {
        width: 80%;
        padding: 0 10px;
    }

    .hero .container img {
        height: 80%;
    }
}

@media screen and (max-width: 576px) {
    .reviews .container .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 50px;
    }

    .hero .row .col-md-6 h1 {
        padding: 10px 0;
    }

}

@media screen and (max-width: 440px) {
    .hero .container p {
        width: 100%;
    }

}


@media screen and (max-width: 375px) {
    .hero .row .col-md-6 h1 {
        font-size: 20px;
    }

    .hero .container p {
        width: 100%;
        font-size: 12px;
    }

    .hero .container .btn {
        width: 50%;
    }

}
